@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Lato:wght@400;700&display=swap');

body{
	font-family: 'Lato', sans-serif;
	height: 100vh;
	margin:0;
	padding:0;
}
#container {
	display: flex;
	flex-direction: row;
}

#left {
	min-width: fit-content;
	max-width: 30vw;;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-image: url(./Nuremberg_chronicles_-_f_5v-57b4dda75f9b58b5c224fdba.png);
	background-position: center top;
}
#logo{
	background-color: rgba(0, 0, 0, 0.486);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width:100%;
}

#Rdays{
font-family: 'Cabin Sketch', cursive;
font-size: 3em;
color: rgb(255, 255, 255);
margin-right: 20px;
}
#right{
	background-color: rgb(247, 238, 230);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#top {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin: 2rem 2rem .5rem 2rem;
}
#form{
	background-color: white;
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
	box-shadow: 0 .5rem .5rem rgb(199, 199, 199);
}
h3{
	display: inline;
	margin:0;
	padding: 0;;
}
.form-row{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
.form-field {
	width: 20vh;
	padding:.5rem;
	margin-left:2rem;
}
label{
	text-transform: uppercase;
	font-size: .8rem;
	font-weight: 600;
}
.error {
	border: 2px solid red;
}
h2{
	margin: .5rem 2rem .5rem 2rem;
	padding: 0;
}
input {
	border: 1px solid rgba(112, 112, 112, 0.623);
	border-radius: 2px;
	width: 20vw;
}

input:focus {
box-shadow: .2rem .2rem .2rem rgb(199, 199, 199);
border: 2px solid blue;
}
#submit {
	border: 0;
	background-color: teal;
	color: white;
	margin: 2rem;
}
#bottom{
	font-size: .5rem;
	align-self: flex-end;
}